In [1]:
import boto3
import awswrangler as wr

In [2]:
session = boto3.Session(profile_name='arquitectura')
glue = session.client('glue')

In [4]:
response = glue.create_database(
    DatabaseInput={
        'Name': 'econ',
        'Description': 'Tarea 6',
    },
)
response

{'ResponseMetadata': {'RequestId': '6eeb99f1-3e5b-4db8-90c3-ea156d1703d1',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 20 Mar 2024 23:11:24 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '2',
   'connection': 'keep-alive',
   'x-amzn-requestid': '6eeb99f1-3e5b-4db8-90c3-ea156d1703d1'},
  'RetryAttempts': 0}}

In [3]:
# tipo de cambio
query = '''CREATE EXTERNAL TABLE IF NOT EXISTS `econ`.`tipo_de_cambio` (`fecha` date, `dato` double)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
WITH SERDEPROPERTIES ('field.delim' = ',')
STORED AS INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION 's3://itam-analytics-lau/econ/raw/tipo_de_cambio/'
TBLPROPERTIES ('classification' = 'csv');'''

wr.athena.read_sql_query(
    query, 
    database="econ", 
    ctas_approach=False, 
    boto3_session=session
)

Empty DataFrame
Columns: []
Index: []

In [4]:
# inflacion
query = '''CREATE EXTERNAL TABLE IF NOT EXISTS `econ`.`inflacion` (`fecha` date, `dato` double)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
WITH SERDEPROPERTIES ('field.delim' = ',')
STORED AS INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION 's3://itam-analytics-lau/econ/raw/inflacion/'
TBLPROPERTIES ('classification' = 'csv');'''

wr.athena.read_sql_query(
    query, 
    database="econ", 
    ctas_approach=False, 
    boto3_session=session
)

Empty DataFrame
Columns: []
Index: []

In [5]:
# tasa de interes
query = '''CREATE EXTERNAL TABLE IF NOT EXISTS `econ`.`tiie` (`fecha` date, `dato` float)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
WITH SERDEPROPERTIES ('field.delim' = ',')
STORED AS INPUTFORMAT 'org.apache.hadoop.mapred.TextInputFormat' OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION 's3://itam-analytics-lau/econ/raw/tasa_de_interes/'
TBLPROPERTIES ('classification' = 'csv');'''

wr.athena.read_sql_query(
    query, 
    database="econ", 
    ctas_approach=False, 
    boto3_session=session
)

Empty DataFrame
Columns: []
Index: []